{% extends "header.html" %}

{% block content %}
    
    <div >

        {% if valid_details %}
        <h1 class="text-4xl text-center m-3">LIST OF COMPONENTS</h1>
        <ul id = "valid_component_list" class="grid grid-cols-3 border-2 border-blue-950 m-3">
            {% for detail in valid_details %}
                    <div class="text-center border border-black ">{{ detail[0]}}</div>
                    <div class="text-center border border-black ">{{ detail[1]}}</div>
                    <div class="text-center border border-black ">{{ detail[2]}}</div>
            {% endfor %}
        </ul>

            <div class="flex justify-center content-center" style = "height:40px;">
                <button type="button" class=" w-1/6 rounded bg-green-500  hover:bg-green-700 text-white">
                    <a href = "{{url_for('download_excel')}}">DOWNLOAD LIST</a>
                </button>
                <button id = "reminder_converter" type="button" class=" w-1/6 rounded bg-green-500  hover:bg-green-700 text-white">ADD TO REMINDER LIST</button>
            </div>
        {% else %}
            <div class = "text-black text-center">Nothing To Show</div>
        {% endif %}

        {% if invalid_details %}
        <ul id="invalid_component_list" class="border-2 border-blue-950 m-3">
            {% for detail in invalid_details %}
                <li  id = "invalid_component_list_item" contenteditable="true"> {{detail}}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>

<script>
    reminder_endpoint = "{{url_for('add_reminders')}}";
    valid_details = {{valid_details | tojson}};
    redirect_url = "{{url_for('reminder_view')}}";
    document.getElementById("reminder_converter").addEventListener("click", () => {
            console.log("Reminder..");
            console.log(valid_details);

            fetch(reminder_endpoint, {
            method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ details : valid_details })
           }).then(response => {
            if (!response.ok){
                 throw new Error('Network response was not ok');
            }
            return response.json();
           }).then(data =>{
            window.location.href = redirect_url;
           }).catch(error => {
            console.error('There was a problem with the fetch operation:', error);
           });
    });
</script>


{% endblock %}