{% extends "header.html" %}

{% block content %}
    
    <div >

        {% if valid_details %}
        <h1 class="text-4xl text-center m-3">LIST OF COMPONENTS</h1>
        <ul id = "valid_component_list" class="grid grid-cols-3 border-2 border-blue-950 m-3">
            {% for detail in valid_details %}
                    <div class="text-center border border-black ">{{ detail[0]}}</div>
                    <div class="text-center border border-black ">{{ detail[1]}}</div>
                    <div class="text-center border border-black ">{{ detail[2]}}</div>
            {% endfor %}
        </ul>

            <div class="flex justify-center content-center" style = "height:40px;">
                <button type="button" class=" w-1/6 rounded bg-green-500  hover:bg-green-700 text-white">
                    <a href = "{{url_for('download_excel')}}">DOWNLOAD LIST</a>
                </button>
                <button id = "reminder_converter" type="button" class=" w-1/6 rounded bg-green-500  hover:bg-green-700 text-white">ADD TO REMINDER LIST</button>
            </div>
        {% else %}
            <div class = "text-black text-center">Nothing To Show</div>
        {% endif %}
            
        {% if invalid_details %}
        <h1 class="text-4xl text-center m-3">INVALID COMPONENT DATES</h1>
        <ul id="invalid_component_list" class=" grid grid-cols-3 border-2 border-blue-950 m-3">
            {% for detail in invalid_details %}
                <div   class = "invalid_course text-center border border-black"  contenteditable="true"> {{detail[0]}}</div>
                <div    class = "invalid_component text-center border border-black"  contenteditable="true"> {{detail[1]}}</div>
                <div   class = "invalid_date text-center border border-black"  contenteditable="true"> {{detail[2]}}</div>
            {% endfor %}
        </ul>
        <div class = "w-full flex justify-center items-center"><button id = "component_list_adder" type="button" class=" w-1/6 rounded bg-green-500  hover:bg-green-700 text-white">ADD TO COMPONENT LIST</button></div>
        {% endif %}
    </div>

<script>

    //deals with the addition to reminder list
    reminder_endpoint = "{{url_for('add_reminders')}}";
    valid_details = {{valid_details | tojson}};
    redirect_url = "{{url_for('reminder_view')}}";
    document.getElementById("reminder_converter").addEventListener("click", () => {
            console.log("Reminder..");
            oonsole.log(valid_details);
            fetch(reminder_endpoint, {
            method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ details : valid_details })
           }).then(response => {
            if (!response.ok){
                 throw new Error('Network response was not ok');
            }
           }).then(data =>{
            window.location.href = redirect_url;
           }).catch(error => {
            console.error('There was a problem with the fetch operation:', error);
           });
    });

    //deals with adding the invalid components to the component list if the dates are valid
    document.getElementById("component_list_adder").addEventListener("click", () => {
        invalid_courses = document.getElementsByClassName("invalid_course")
        invalid_components = document.getElementsByClassName("invalid_component")
        invalid_dates = document.getElementsByClassName("invalid_date")
        
        valid_date_regex = /\d{2}\/\d{2}\/(\d{2}|\d{4})/
        valid_indexes = []
        for (let i = 0 ; i < invalid_dates.length ; i ++){
            console.log(invalid_dates[i].textContent)
            console.log(invalid_dates[i].textContent.match(valid_date_regex))
            if (invalid_dates[i].textContent.match(valid_date_regex))
                valid_indexes.push(i)
        }

        valid_courses = []
        valid_indexes.forEach(index => {
            valid_courses.push([invalid_courses[index].textContent.trim(), invalid_components[index].textContent.trim(), invalid_dates[index].textContent.trim()])
        })

        console.log("valid_courses : " + valid_courses)
        const component_adder_endpoint = '{{url_for("add_component")}}'

        fetch(component_adder_endpoint, {
            method : "POST",
            headers : {
                'Content-Type' : 'application/json'
            },
            body : JSON.stringify({
                valid_course : valid_courses
            })
        }).then(response => {
            window.location.href = '{{url_for("create_or_download")}}'
        }).catch(error => {
            console.error(error)
        })
    })
</script>

{% endblock %}